In [1]:

import pandas as pd

Here, we use a for loop to simulate the skywalking metrics message queue for temporary.

In [5]:
df = pd.read_csv('./data/univarate_dataset.csv',index_col='timestamp')

df

                           value  label
timestamp
2014-11-23 07:00:00   330.577449      0
2014-11-23 08:00:00    -8.952793      0
2014-11-23 09:00:00   498.310024      0
2014-11-23 10:00:00   557.956500      0
2014-11-23 11:00:00   408.067961      0
...                          ...    ...
2015-01-03 17:00:00  1787.081704      0
2015-01-03 18:00:00  1969.793339      0
2015-01-03 19:00:00  1388.604077      0
2015-01-03 20:00:00  1855.631444      0
2015-01-03 21:00:00  1708.278420      0

[999 rows x 2 columns]

In [11]:
for index, row in df.iterrows():
    timestamp = index
    X = row.value
    break

In [14]:
type(timestamp)

str